
.vs/2D/v16/Preview/ipch/AutoPCH/410b981fdf075698/SOURCE.ipch
.vs/2D/v16/Preview/Browse.VC.opendb
.vs/2D/v16/Preview/Browse.VC.db
.vs/2D/v16/Preview/ipch/AutoPCH/482f79ba8572ba6f/TEXTURE.ipch
.vs/2D/v16/.suo
*.ipch
*.db
*.opendb
*.log
*.filters
.vs/2D/v16/.suo
*.pdb
*.idb
*.pdb
2D/x64/Release/vc142.pdb
*.tlog
*.tlog
*.tlog
*.tlog
*.tlog
*.pdb
*.spv
2D/x64/Debug/2D.tlog/unsuccessfulbuild
*.obj
*.html
*.js
*.m4
