*.ipch
*.db
*.sarif
*.opendb
*.obj
*.pdb
*.xml
*.tga
*.tlog
*.ipdb
*.filters
*.iobj
*.log
*.idb

2D/.vs/2D/v16/Browse.VC.db-wal
2D/.vs/2D/v16/Browse.VC.db-shm
*.db-shm
*.db-wal
*.vsidx

*.o
.vs/fan/v17/.suo
*.exe
